<!DOCTYPE html>
{% extends 'myapp/header_and_footer.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}


{% block page_title %}Register{% endblock %}


{% block sccinject %}
<link rel="stylesheet" href="{% static 'css/reg.css'%}"/>
{% endblock %}



{% block main_body_block %}
<div class="container" id="margmetop">

  <div class="row justify-content-center">

    <div class="col-8">
      <h1 class="mt-2">Sign Up!</h1>
      <hr class="mt-0 mb-4">
      {% block content %}
<form method="post">
{% csrf_token %}
{{ theformfromteplate|crispy }}
<button type="submit" class="btn btn-success">SUBMIT</button>
</form>
{% endblock %}
    </div>
  </div>
</div>
{% endblock %}
